{% extends 'WebApp/game_base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block content %}
    <div class="container main-content">
        <h1 style="color:Limegreen; font-family:Tahoma; text-align: center;">Feed Your Pet!</h1>
        <p style=" font-family:Tahoma; text-align: center;"><b>Complete missions to feed your pet!</b></p>
        <p></p>
        <div style="text-align: center;">
        <img src="{% static 'gbc2.gif' %}" alt="Bean" />
        </div>
    </div>
{% endblock %}
    </html>
