{% extends 'WebApp/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block content %}
    <div class="container main-content">
        <div class="content-box p-4 mb-4 rounded shadow-lg">
            <h1 class="text-center text-white fw-bold">Group Software Engineering Project: Green Beans!</h1>
            <div class="text-center my-3">
                <img src="{% static 'gbc1.jpg' %}" alt="Pet Image" class="img-fluid rounded shadow">
            </div>
            <p class="lead text-white text-center fs-4"><b>Hello!</b></p>
            <p class="text-white text-center">Welcome to Green Beans! This is a group-developed web app with the goal of promoting sustainability and eco-friendly practices at the University Of Exeter. As part of the app, users will get their very own Green Bean Pet, which they can feed by completing challenges. These challenges range from walking to recycling, all of which allow users to gain points and climb the leaderboard. See if you and your Green Bean can reach the top!</p>
        </div>
        <div class="content-box p-4 mb-4 rounded shadow-lg">
            <h2 class="text-success lead text-center fs-4" style="font-size: 2.5rem; font-weight: bold;">Our Goals</h2>
            <p class="text-white text-center">Our goal is to help promote sustainable practices on the University of Exeter campus. The university aims to have a carbon net zero impact by 2030, and we can all contribute in our everyday lives. We wish to show how small changes can have a big impact on the environment, whether it be walking instead of driving or using a recycling bin instead of a regular one. We also want to encourage users to explore the University campus with location-based challenges that showcase its natural beauty. The best part? You get to do it alongside a cute little green bean pet!</p>
        </div>
        <div class="content-box p-4 mb-4 rounded shadow-lg">
            <h2 class="text-success lead text-center fs-4" style="font-size: 2.5rem; font-weight: bold;">How Do I Start?</h2>
            <p class="text-white text-center">To get your own pet, register an account with us, and then you can get straight into the challenges!</p>
            <div class="text-center my-3">
                <img src="{% static 'bean1.jpg' %}" alt="Bean" class="img-fluid rounded shadow m-2">
                <img src="{% static 'bean2.jpg' %}" alt="Bean" class="img-fluid rounded shadow m-2">
                <img src="{% static 'bean3.jpg' %}" alt="Bean" class="img-fluid rounded shadow m-2">
                <img src="{% static 'bean4.png' %}" alt="Bean" class="img-fluid rounded shadow m-2">
            </div>
        </div>
    </div>

    <style>
        .content-box {
            background-color: #003C3C; /* Matching navbar color */
            border-radius: 15px;
            padding: 20px;
            margin-top: 20px;
        }
    </style>
{% endblock %}
</html>
