{% extends 'WebApp/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block content %}
    <div class="container main-content">
        <h1 style="color:green; font-family:Courier New;">Group Software Engineering Project: Green Beans!</h1>
        <p class="lead">Hello!</p>
        <p>Welcome to Green Beans! This a group developed web app with the goal of promoting sustainability and eco friendly</p>
        <p>practises at the University Of Exeter. As part of the app, users will get their very own Green Bean Pet, which</p>
        <p>they can feed by completing challenges. These challenges range from walking to recycling, all which allow users</p>
        <p>to gain points and climb the leaderboard. See if you and your Green Bean can reach the top!</p>
        <p></p>
        <img src="{% static 'bean1.jpg' %}" alt="Bean" />
        <img src="{% static 'bean2.jpg' %}" alt="Bean" />
        <img src="{% static 'bean3.jpg' %}" alt="Bean" />
        <img src="{% static 'bean4.png' %}" alt="Bean" />
        <p class="lead">Our Goals</p>
        <p>Our goal is to help promote sustainable practises on the University of Exeter campus. The university aims by 2030</p>
        <p>to have a carbon net zero impact, and we all can easily help achieve this in our everyday lives. We wish to show</p>
        <p>how a few small changes can have a big impact on the environment, whether it be walking instead of driving or </p>
        <p>using a recyling bin instead of a regular one. We also want to encourage users to explore the University campus</p>
        <p>with location based challenges that help show off some natural beauty. The best part is you get to do it alongside</p>
        <p>a cute little green bean pet!</p>
        <p></p>
        <img src="{% static 'gbc1.jpg' %}" alt="Pet Image" />
        <p class="lead">How Do I Start?</p>
        <p>To get your own pet, register an account with us and then you can get straight into the challenges!</p>
    </div>
{% endblock %}
</html>
