{% extends 'WebApp/game_base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block content %}
<h1>Search results for {{ search_name }}:</h1>

{% if not anyfound %}
<h3>*Nothing found*</h3>
{% endif %}

<ul>
    {% for User in results %}
    <li>
        {% if User.has_profile_pic %}
        <img src={{ User.profile_picture_path }}
             style="width:50px;height:50px;" />
        {% else %}
        <img src={% static 'nopfp.png' %}
             style="width:50px;height:50px;" />
        {% endif %}
        <a href={{ User.link }}>{{ User.username }}</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}
</html>